{% extends 'layouts/base.html' %}
{% load static %}
{% load total_minutes %}

{% block content %}

    <section class="course-header-area">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="course-header-wrap">
                        <h1 class="title">{{ course.title }}</h1>
                        <p class="subtitle">{{ course.short_description|truncatewords:20 }}</p>
                        <div class="rating-row">
                            {#                            {{ --<span class="course-badge best-seller">Best seller</span>--}}#}
                            {% for i in i|rjust:5 %}
                                {% if forloop.counter <= 5 %}
                                    <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                {% else %}
                                    <i class="fas fa-star"></i>
                                {% endif %}
                            {% endfor %}
                            <span class="d-inline-block average-rating"><?php echo 5; ?></span>
                            <span>(20 ratings)</span>
                            <span class="enrolled-num">
                                100 students enrolled
                            </span>
                        </div>
                        <div class="created-row">
                            {#                            {{ --<span class="created-by">--}}#}
                            {#                            {{ --Created by--}}#}
                            {#                            {{ --<a href="">first_name last_name</a>--}}#}
                            {#                            {{ --</span>--}}#}
                            <span class="last-updated-date">Created on {{ course.created_at|date }}</span>
                            <span class="last-updated-date">Last updated on {{ course.updated_at|date }}</span>
                            <span class="comment">
                                <i class="fas fa-comment"></i>English
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
        </div>
    </section>

    <section class="course-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="what-you-get-box">
                        <div class="what-you-get-title">What i will learn?</div>
                        <ul class="what-you-get__items">
                            <li>{{ course.outcome }}</li>
                        </ul>
                    </div>
                    <br>
                    <div class="course-curriculum-box">
                        <div class="course-curriculum-title clearfix">
                            <div class="title float-left">Lessons for this course</div>
                            <div class="float-right">
                                <span class="total-lectures">
                                    {{ course.lessons.count }} lessons
                                </span>
                                <span class="total-time">
                                    2 hours
                                </span>
                            </div>
                        </div>
                        <div class="course-curriculum-accordion">

                            <div class="lecture-group-wrapper">
                                <div class="lecture-group-title clearfix" data-toggle="collapse"
                                     data-target="#collapse"
                                     aria-expanded="false">
                                    <div class="title float-left">
                                        Lessons
                                    </div>
                                    <div class="float-right">
                                        <span class="total-lectures">
                                             {{ course.lessons.count }} lessons
                                        </span>
                                        <span class="total-time">
                                            {{ course.lessons|total_minutes }} minute
                                        </span>
                                    </div>
                                </div>

                                <div id="collapse" class="lecture-list collapse">
                                    <ul>
                                        {% for lesson in course.lessons.all %}
                                            <li class="lecture has-preview">
                                                <span class="lecture-title">{{ lesson.title }}</span>
                                                <a onclick="lightbox_open('VisaChipCardVideo');"><span class="preview-text" style="cursor: pointer" >Preview</span></a>
                                                <span class="lecture-time float-right">{{ lesson.duration }}</span>
                                                <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="requirements-box">
                        <div class="requirements-title">Requirements</div>
                        <div class="requirements-content">
                            <ul class="requirements__list">
                                <li>{{ course.requirements }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="description-box view-more-parent">
                        <div class="view-more" onclick="viewMore(this,'hide')">
                            + View More
                        </div>
                        <div class="description-title">Description</div>
                        <div class="description-content-wrap">
                            <div class="description-content">
                                {{ course.description }}
                            </div>
                        </div>
                    </div>


                    <div class="compare-box view-more-parent">
                        <div class="view-more" onclick="viewMore(this)">+ View More</div>
                        <div class="compare-title">Other Related Courses</div>
                        <div class="compare-courses-wrap">

                        </div>
                    </div>

                    <div class="about-instructor-box">
                        <div class="about-instructor-title">
                            About the instructor
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="about-instructor-image">
                                    <img src="https://img-a.udemycdn.com/user/75x75/14942868_3ed6_13.jpg" alt="" class="img-fluid">
                                    <ul>
                                        <li><i class="fas fa-star"></i><b>4.4</b> Average Rating</li>
                                        <li>
                                            <i class="fas fa-comment"></i><b>
                                            100
                                        </b> reviews
                                        </li>
                                        <li><i class="fas fa-user"></i><b>
                                            120
                                        </b> Students
                                        </li>
                                        <li>
                                            <i class="fas fa-play-circle"></i>
                                            <b>
                                                11
                                            </b> Courses
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="about-instructor-details view-more-parent">
                                    <div class="view-more" onclick="viewMore(this)">+ View More</div>
                                    <div class="instructor-name">
                                        <a href="#">Chris Haroun</a>
                                    </div>
                                    <div class="instructor-title">
                                        Award Winning MBA Professor, Venture Capitalist and Author.
                                    </div>
                                    <div class="instructor-bio">
                                        Chris has sold more than 1,000,000 of his online business & self improvement courses in 12 languages in 196 countries and his courses have been profiled in Business Insider, NBC, Inc, Forbes, CNN, Entrepreneur & on other business news websites. Chris is the author of the #1 best selling online business course called "An Entire MBA in 1 Course®” & many other courses.

He’s the author of the book "101 Crucial Lessons They Don't Teach You in Business School®,"​ which Business Insider wrote is "the most popular book of 2016."​ Forbes called this book "1 of 6 books that all entrepreneurs must read right now."​

He is the founder & CEO of Haroun Education Ventures, an award winning business school professor, MBA graduate from Columbia University & former Goldman Sachs employee. He has raised/managed over $1bn in his career.

He also has work experience at hedge fund giant Citadel, consulting firm Accenture & several firms that he has started, including an investment firm that had a venture capital investment in Facebook several years before the Facebook IPO.

He is a frequent guest lecturer at several Bay Area MBA schools including Berkeley & Stanford. He also has an undergraduate degree with a major in Management Information Systems & International Business from McGill University where he is a McGill University Dobson Fellow (awarded for his work mentoring students with start up business models).

He has founded several companies & serves on the boards of several Bay Area companies & charities, including The LEMO Foundation & Providing Opportunities for Women. He lives in Hillsborough, California.

According to Business Insider "Haroun is one of the highest rated professors on Udemy, so you can expect to be in good hands through the course of your education."​

He is passionate about education as he believes that all problems can be solved via education.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="student-feedback-box">
                        <div class="student-feedback-title">
                            Student feedback
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-4">
                                <div class="average-rating">
                                    <div class="num">
                                        {#                                        {{ $course->average }}#}
                                        3
                                    </div>
                                    <div class="rating">
                                        {% for i in i|rjust:5 %}
                                            {% if forloop.counter <= 5 %}
                                                <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                            {% else %}
                                                <i class="fas fa-star" style="color: #abb0bb;"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="title">Average rating</div>
                                </div>
                            </div>
                                                        <div class="col-lg-6">
                                                            <div class="individual-rating">
                                                                <ul>
                                                                    {%load total_minutes%}
                                                                    {% for i in 5|range1 %}
                                                                        <li>
                                                                            <div class="progress">
                                                                                <div class="progress-bar" style="width:{{i|divide:100}}%"></div>
                                                                            </div>
                                                                            <div>
                                                                                <span class="rating">       
                                                                                    {%with 7|sub:i as max%}                             
                                                                                    {% for j in max|range1 %}
                                                                                    
                                                                                        <i class="fas fa-star filled"></i>
                                                                                    {%endfor%}
                                                                                    {%endwith%}  
                                                                                                                                                                                       
                                                                                    {% for j in i|range1 %}
                                                                                        <i class="fas fa-star"></i> 
                                                                                    {%endfor%}                             
                                                                                </span>
                                                                                <span>{{i|divide:100}}%</span>
                                                                            </div>
                                                                        </li>
                                                                    {%endfor%}
                                                                </ul>
                                                            </div>
                                                        </div>
                        </div>
                        <div class="reviews">
                            <div class="reviews-title">Reviews</div>
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="reviewer-details clearfix">
                                                <div class="reviewer-img float-left">
                                                    <img src="https://image.shutterstock.com/image-photo/headshot-profile-picture-confident-young-260nw-1498236431.jpg" alt="Rita">
                                                </div>
                                                <div class="review-time">
                                                    <div class="reviewer-name">    
                                                    Jessy Ndendzi
                                                    </div>
                                                    <div class="time">
                                                        2 days ago
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="review-details">
                                                <div class="rating">
                                                    {% for i in i|rjust:5 %}
                                                        {% if forloop.counter <= 3 %}
                                                            <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                                        {% else %}
                                                            <i class="fas fa-star" style="color: #abb0bb;"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="review-text">
                                                    Very insightful course. It helps to have a better understanding of key elements related to the birth and growth of a company. Thanks Chris.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="reviewer-details clearfix">
                                                <div class="reviewer-img float-left">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU" alt="Rita">
                                                </div>
                                                <div class="review-time">
                                                    <div class="reviewer-name">    
                                                    Laia Vilarrubi
                                                    </div>
                                                    <div class="time">
                                                        a week ago
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="review-details">
                                                <div class="rating">
                                                    {% for i in i|rjust:5 %}
                                                        {% if forloop.counter <= 5 %}
                                                            <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                                        {% else %}
                                                            <i class="fas fa-star" style="color: #abb0bb;"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="review-text">
                                                    Chris Haroun is definitely a really good and passionate teacher. You can tell he has such a great economics & business background. Great teacher and great content. Thank you!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="course-sidebar natural">
                        <div class="preview-video-box">
                            <a data-toggle="modal" data-target="#CoursePreviewModal">
                                <img src="{% static 'images/learning.jpg' %}" alt="" class="img-fluid">
                                <span class="preview-text">Preview this course</span>
                                <span class="play-btn" onclick="lightbox_open('VisaChipCardVideo');"></span>
                                    
                            </a>

                        <div class="course-sidebar-text-box">
                            <div class="price">
                                <span class="current-price">
                                    $<span class="current-price">{{ course.price }}</span></span>
                                <input type="hidden" id="total_price_of_checking_out" value="{{ course.price }}">
                            </div>

                            {#                            {{ --<div class="buy-btns">--}}#}
                            {#                            {{ --<button class="btn btn-buy-now" type="button">Already purchased</button>--}}#}
                            {#                            {{ --</div>--}}#}
                            <div class="buy-btns">
                                {% if is_enrolled %}
                                    <button class="btn btn-add-cart" type="button"
                                            style="background-color: #00796b; border-color: #08796f; color: #ffffff">
                                        Go to course
                                    </button>
                                {% else %}
                                    {% if is_in_cart %}
                                        {#                                    <a href="" class="btn btn-buy-now" id="course_2" onclick="handleBuyNow(this)">Buy#}
                                        {#                                        now</a>#}
                                        <button class="btn btn-add-cart" type="button"
                                                style="background-color: #ec5252; border-color: #ec5252; color: #ffffff">
                                            Added to cart
                                        </button>
                                    {% else %}
                                        <form action="{% url 'cart:cart_add' course.slug %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="" name="course_id">
                                            <input type="hidden" value="" name="name">
                                            <input type="hidden" value="" name="price">
                                            <input type="hidden" value="1" name="quantity">

                                            <button class="btn btn-add-cart" type="submit" id="cart">Add to cart
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="includes">
                                <div class="title"><b>Includes:</b></div>
                                <ul>
                                    <li>
                                        <i class="far fa-file-video"></i>
                                        on demand videos
                                    </li>
                                    <li>
                                        <i class="far fa-file"></i> 30 lessons
                                    </li>
                                    <li><i class="far fa-compass"></i>Full lifetime access
                                    </li>
                                    <li>
                                        <i class="fas fa-mobile-alt"></i>Access on mobile and tv
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}